body {
  background-color: #474B4F !important;
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Ropa Sans', sans-serif !important;
}


.topnav a {

  color: #86C232;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ropa Sans', sans-serif !important;

}


.vr{
  color: #6B6E70;
  border-style: solid;
  height: 45px;


}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #222629;
  overflow: hidden;
  text-align: center;
  border-color: #474B4F;
  border-style: solid !important;
  border-bottom: 10px solid #393E43;
  border-left: solid #474B4F;
  border-top: #474B4F;
  border-right: #474B4F;

}

.maintext h1{

  text-align:center;
  font-size: 65px;
  color: white

}

p{
  text-align:center;
  color: #C8CDD0;
  font-family: 'Ropa Sans', sans-serif !important;
  font-size: 30px;
}

#git{
  color:red;
  text-decoration:none
}

#github{
  text-align: bottom;
}

.form-group{
  text-align: center;

}

form {
  width: 80%;
  margin: 0 auto;
}

label,
input {
  /* In order to define widths */
  display: inline-block;
}

.generator{
    display:inline-block;

    text-align:center;
}

#submit{
    display: block;
    text-align:center !important;
    margin: 0 auto;
    background-color: #86C232;
    border-color: #86C232;
    text-shadow: #86C232
}

#exampleInputEmail1{
  text-align: center;
}

.form-text text-muted{

  text-align: center;
}

#bondingInput{
  text-align: center;
}

#title{
  text-align: center;
  color: #86C232;
}
